<h1>Editing Book</h1>
<%= form_for(@book,url:"/books/#{@book.id}") do |f| %>
<div class="field">
<label for="book_title">Title</label>
  <%= f. text_field :title %>
</div>
<div class="field">
  <label for="book_body">Body</label>
  <%= f. text_area :body %>
</div>
<div class="action">
  <%= f.submit "Update Book" %>
  </div>
  <a><%= link_to "Show", book_path(@book.id) %></a>
   |
  <a><%= link_to "Back", books_path %></a>

<% end %>