<h1>Editing Book</h1>
<% if @book.errors.any? %>
  <div id="error_explanation">
    <h2><%= @book.errors.count %>errors prohibited this book from being saved:</h2>
 
    <ul>
    <% @book.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(@book,url:"/books/#{@book.id}") do |f| %>
<div class="field">
<label for="book_title">Title</label>
  <%= f. text_field :title %>
</div>
<div class="field">
  <label for="book_body">Body</label>
  <%= f. text_area :body %>
</div>
<div class="action">
  <%= f.submit "Update Book" %>
  </div>
  <a><%= link_to "Show", book_path(@book.id) %></a>
   |
  <a><%= link_to "Back", books_path %></a>

<% end %>